<ng-template [ngIf]="item">

    <md-card>
        <md-card-title>
            <div layout="row" layout-wrap>
                <div flex="5">
                    <button md-icon-button (click)="goBack()" color="accent">
                        <md-icon>keyboard_backspace</md-icon>
                    </button>
                </div>
                <div flex="85" layout="column" layout-align="center start">{{[item.offerNumber]}}</div>
                <div flex="5" layout="column" layout-align="center end">
                    <button md-mini-fab (click)="onPrint()" color="primary" [disabled]="!f.valid">
                        <md-icon>print</md-icon>
                    </button>
                </div>
                <div flex="5" layout="column" layout-align="center center">
                    <button md-mini-fab (click)="onEdit()" *ngIf="!editMode">
                        <md-icon>mode_edit</md-icon>
                    </button>
                    <button md-mini-fab (click)="onSave(f)" *ngIf="editMode" color="primary" [disabled]="!f.valid">
                        <md-icon>done</md-icon>
                    </button>
                </div>
            </div>
        </md-card-title>
        <md-card-subtitle>id: {{item.uid}}</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
            <form #f="ngForm">
                <div layout="row" layout-wrap>
                    <div flex="100" layout-padding>
                        <h3 style="margin: 0;">Info data</h3>
                    </div>
                    <div style="margin-top:20px;" flex="100" layout-padding>
                        <md-input-container style="max-width: 800px; width: 100%;">
                            <input mdInput placeholder="Title" [ngModel]="item.offerDescription.offerTitle"
                                   name="offerTitle" required
                                   [readonly]="!editMode">
                        </md-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-input-container>
                            <input mdInput placeholder="Client" [ngModel]="item.clientName" name="clientName" required
                                   [readonly]="!editMode">
                        </md-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-select placeholder="Saler" floatPlaceholder="auto" [(ngModel)]="selectedSaler"
                                   name="salerUid">
                            <md-option *ngFor="let saler of item.offerDescription.saler" [value]="saler.value">
                                {{saler.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-input-container>
                            <input mdInput placeholder="Created date" [ngModel]="item.tstamp" name="tstamp" required
                                   [readonly]="!editMode">
                        </md-input-container>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-input-container>
                            <input mdInput placeholder="Total price" [ngModel]="totalPrice | number:'2.2-2'"
                                   name="totalPrice" required readonly>
                        </md-input-container>
                    </div>

                    <!-- MODULES START -->

                    <div flex="100" layout-padding>
                        <md-divider></md-divider>
                        <h3 style="margin-bottom: 0;">Chapters</h3>
                    </div>
                    <div style="margin-top:20px;" flex="100" layout-padding>
                        <md-accordion [dragula]='dragContainer' [dragulaModel]='offersModules'>
                            <div *ngFor="let group of offersModules; let i = index" layout="row">
                                <md-expansion-panel #accordionModule hideToggle="true" flex="90" layout="column"
                                                    layout-align="center start" [attr.uid]="group.uid" [attr.index]="i">
                                    <md-expansion-panel-header layout="row">
                                        <md-panel-title flex="80">
                                            <h4>{{group.name}}</h4>
                                        </md-panel-title>
                                        <md-panel-description flex="20">
                                            <span>Chapter price: &nbsp;<b>{{group.subTotal | number:'2.2-2'}}</b></span>
                                        </md-panel-description>
                                        <md-icon>arrow_drop_down</md-icon>
                                    </md-expansion-panel-header>
                                    <div flex="100" layout-padding layout="row">
                                        <h3 style="margin-top: 0;">Modules</h3>
                                    </div>
                                    <md-card *ngFor="let module of group.modules">
                                        <md-card-content>
                                            <form #group.uid="ngForm">
                                                <div layout="row" layout-wrap>
                                                    <div style="margin-top:20px;" flex="90" layout-padding>
                                                        <md-input-container style="max-width: 800px; width: 100%;">
                                                            <input mdInput placeholder="Name" [ngModel]="module.name"
                                                                   name="name" readonly>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="5" layout="column" layout-align="center end">
                                                        <button md-mini-fab color="primary"
                                                                (click)="onModuleEdit(module.uid, group.uid)">
                                                            <md-icon>mode_edit</md-icon>
                                                        </button>
                                                    </div>
                                                    <div flex="5" layout="column" layout-align="center center">
                                                        <button md-mini-fab color="warn"
                                                                (click)="onModuleRemove(module.uid, group.uid)">
                                                            <md-icon>remove</md-icon>
                                                        </button>
                                                    </div>
                                                    <div flex="20" layout-padding>
                                                        <md-input-container>
                                                            <input mdInput placeholder="Price"
                                                                   [ngModel]="module.price | number:'2.2-2'"
                                                                   name="price" readonly>
                                                        </md-input-container>
                                                    </div>

                                                    <div flex="25" layout-padding>
                                                        <md-input-container style="width: 80%;">
                                                            <input mdInput placeholder="Group" [ngModel]="group.name"
                                                                   name="groupUid" readonly>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="25" layout-padding>
                                                        <md-input-container>
                                                            <input mdInput placeholder="Created date"
                                                                   [ngModel]="module.tstamp" name="tstamp" readonly>
                                                        </md-input-container>
                                                    </div>
                                                    <div style="margin-top:20px;" flex="100" layout-padding>
                                                        <h3 style="margin-top: 0;">Description</h3>

                                                        <div [innerHTML]="module.bodytext"></div>
                                                    </div>
                                                </div>

                                                <div style="margin-top:20px;" flex="100" layout-padding>
                                                </div>
                                            </form>
                                        </md-card-content>
                                    </md-card>
                                    <div flex="25" layout-padding style="margin:20px 0;">
                                        <button md-raised-button color="primary" [mdMenuTriggerFor]="moduleMenu">Add
                                            module
                                        </button>
                                        <md-menu #moduleMenu="mdMenu">
                                            <button md-menu-item (click)="addFromModuleList(group.uid)">
                                                <md-icon>playlist_add</md-icon>
                                                <span>Select from list</span>
                                            </button>
                                            <button md-menu-item (click)="addModule(group.uid)">
                                                <md-icon>add</md-icon>
                                                <span>Add new</span>
                                            </button>
                                        </md-menu>
                                    </div>
                                </md-expansion-panel>
                                <div flex="10" layout-align="start end" layout="column">
                                    <div layout="row">
                                        <span layout-margin>
                                            <a (click)="onChapterEdit(group.uid)"><md-icon color="accent">mode_edit</md-icon></a>
                                        </span>
                                        <span layout-margin>
                                            <a (click)="onChapterRemove(group.uid)"><md-icon color="warn">delete</md-icon></a>
                                       </span>
                                        <span layout-margin><md-icon class="handle">drag_handler</md-icon></span>
                                    </div>
                                </div>
                            </div>
                        </md-accordion>
                        <div flex="25" layout-padding style="margin:20px 0;">
                            <button md-raised-button color="primary" [mdMenuTriggerFor]="chapterMenu" color="primary">
                                Add Chapter
                            </button>
                            <md-menu #chapterMenu="mdMenu">
                                <button md-menu-item (click)="addFromChapterList(item.uid)">
                                    <md-icon>playlist_add</md-icon>
                                    <span>Select from list</span>
                                </button>
                                <button md-menu-item (click)="addChapter(item.uid)">
                                    <md-icon>add</md-icon>
                                    <span>Create new</span>
                                </button>
                            </md-menu>
                        </div>
                    </div>
                    <!-- MODULES ENDS -->

                    <!-- FILES START -->
                    <div flex="100" layout-padding>
                        <md-divider></md-divider>
                        <h3 style="margin-bottom: 0;">Related files</h3>
                    </div>
                    <div style="margin-top:20px;" flex="100" layout-padding>
                        <td-file-upload #fileUpload defaultColor="accent" activeColor="warn" cancelColor="primary"
                                        (select)="selectEvent($event)"
                                        (upload)="uploadEvent($event)" (cancel)="cancelEvent()" [disabled]="disabled"
                                        multiple>
                            <md-icon>file_upload</md-icon>
                            <span>{{ fileUpload.files?.name }}</span>
                            <ng-template td-file-input-label>
                                <md-icon>attach_file</md-icon>
                                <span>Choose a file...</span>
                            </ng-template>
                        </td-file-upload>
                    </div>
                    <div flex="100" layout-padding>
                        <md-list>
                            <md-list-item *ngFor="let file of item.files">
                                <md-icon md-list-icon>insert_drive_file</md-icon>
                                <h4 md-line><a href="{{file.link}}" style="cursor: pointer">{{file.name}}</a></h4>
                                <p md-line> {{file.tstamp}} </p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</ng-template>