<ng-template [ngIf]="item">

    <md-card>
        <md-card-title>
            <div layout="row" layout-wrap>
                <div flex="90" layout="column" layout-align="center start">{{[item.offerNumber]}}</div>
                <div flex="10" layout="column" layout-align="center end">
                    <button md-mini-fab (click)="onEdit()" *ngIf="!editMode">
                        <md-icon>mode_edit</md-icon>
                    </button>
                    <button md-mini-fab (click)="onSave(f)" *ngIf="editMode" color="primary">
                        <md-icon>done</md-icon>
                    </button>
                </div>
            </div>
        </md-card-title>
        <md-card-subtitle>id: {{item.uid}}</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
            <form #f="ngForm">
                <div layout="row" layout-wrap>
                    <div flex="100" layout-padding>
                        <h3 style="margin: 0;">Info data</h3>
                    </div>
                    <div style="margin-top:20px;" flex="100" layout-padding>
                        <md-input-container style="max-width: 800px; width: 100%;">
                            <input mdInput placeholder="Title" [ngModel]="item.offerDescription.offerTitle"
                                   name="offerTitle" required
                                   [readonly]="!editMode">
                        </md-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-input-container>
                            <input mdInput placeholder="Client" [ngModel]="item.clientName" name="clientName" required
                                   [readonly]="!editMode">
                        </md-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-select placeholder="Saler" floatPlaceholder="auto" [(ngModel)]="selectedSaler"
                                   name="salerUid">
                            <md-option *ngFor="let saler of item.offerDescription.saler" [value]="saler.value">
                                {{saler.name}}
                            </md-option>
                        </md-select>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <md-input-container>
                            <input mdInput placeholder="Created date" [ngModel]="item.tstamp" name="tstamp" required
                                   [readonly]="!editMode">
                        </md-input-container>
                    </div>

                    <!-- MODULES START -->

                    <div flex="100" layout-padding>
                        <md-divider></md-divider>
                        <h3 style="margin-bottom: 0;">Chapters</h3>
                    </div>
                    <div style="margin-top:20px;" flex="100" layout-padding>

                        <md-expansion-panel *ngFor="let group of item.groups">
                            <md-expansion-panel-header>
                                <md-panel-title><h4>{{group.name}}</h4></md-panel-title>
                            </md-expansion-panel-header>
                            <div flex="100" layout-padding>
                                <h3 style="margin-top: 0;">Modules</h3>
                                <md-divider></md-divider>
                            </div>
                            <form #group.uid="ngForm" *ngFor="let module of group.modules">
                                <div layout="row" layout-wrap>
                                    <div style="margin-top:20px;" flex="90" layout-padding>
                                        <md-input-container style="max-width: 800px; width: 100%;">
                                            <input mdInput placeholder="Name" [ngModel]="module.name" name="name" readonly>
                                        </md-input-container>
                                    </div>
                                    <div flex="10" layout="column" layout-align="center end">
                                        <button md-mini-fab color="primary" (click)="onModuleEdit(module.uid)">
                                            <md-icon>mode_edit</md-icon>
                                        </button>
                                    </div>
                                    <div flex="20" layout-padding>
                                        <md-input-container>
                                            <input mdInput placeholder="Price" [ngModel]="module.price | number:'3.2'" name="price" readonly>
                                        </md-input-container>
                                    </div>

                                    <div flex="25" layout-padding>
                                        <md-input-container style="width: 80%;">
                                            <input mdInput placeholder="Group" [ngModel]="group.name" name="groupUid" readonly >
                                        </md-input-container>
                                    </div>
                                    <div flex="25" layout-padding>
                                        <md-input-container>
                                            <input mdInput placeholder="Created date" [ngModel]="module.tstamp" name="tstamp" readonly>
                                        </md-input-container>
                                    </div>
                                    <div style="margin-top:20px;" flex="100" layout-padding>
                                        <h3 style="margin-top: 0;">Description</h3>
                                        <div [innerHTML]="module.bodytext"></div>
                                    </div>
                                </div>

                                <div style="margin-top:20px;" flex="100" layout-padding>
                                    <md-divider></md-divider>
                                </div>
                            </form>
                            <div flex="25" layout-padding style="margin:20px 0;">
                                <button md-raised-button (click)="addModule(group.uid)" color="primary">Add module</button>
                            </div>
                        </md-expansion-panel>

                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</ng-template>