<td-layout>
    <td-layout-nav-list svgIcon="assets:teradata" color="accent" opened="true" mode="side" sidenavWidth="350px">
        <div td-sidenav-toolbar-content layout="row" layout-align="start center">
            <span>Offers Management App</span>
        </div>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>{{[pageTitle]}}</span>
        </div>
        <md-nav-list td-sidenav-content>
            <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><md-icon mdListIcon>dashboard</md-icon><a mdLine [routerLink]="'/'">Dashboard</a></md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item routerLinkActive="active"><md-icon mdListIcon>view_stream</md-icon><a mdLine routerLink="chapters">Chapters</a></md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item routerLinkActive="active"><md-icon mdListIcon>view_module</md-icon><a mdLine routerLink="modules">Modules</a></md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item routerLinkActive="active"><md-icon mdListIcon>subtitles</md-icon><a mdLine routerLink="offers">Offers</a></md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item routerLinkActive="active"><md-icon mdListIcon>group</md-icon><a mdLine routerLink="clients">Clients</a></md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item routerLinkActive="active"><md-icon mdListIcon>group</md-icon><a mdLine routerLink="sellers">Sellers</a></md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item routerLinkActive="active"><md-icon mdListIcon>text_fields</md-icon><a mdLine routerLink="additionalData">Default text data</a></md-list-item>
            <md-divider md-inset></md-divider>
        </md-nav-list>
        <router-outlet></router-outlet>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="md-caption">Copyright &copy; 2017 Deepscreen. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout-nav-list>
</td-layout>