<td-layout>
    <td-layout-nav-list svgIcon="assets:teradata" color="accent" opened="true" mode="side" sidenavWidth="350px">
        <div td-sidenav-toolbar-content layout="row" layout-align="start center">
            <span>Offers Management App</span>
        </div>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>{{[pageTitle]}}</span>
        </div>
        <mat-nav-list td-sidenav-content>
            <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><mat-icon mdListIcon>dashboard</mat-icon><a mdLine [routerLink]="'/'">Dashboard</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
            <mat-list-item routerLinkActive="active"><mat-icon mdListIcon>view_stream</mat-icon><a mdLine routerLink="chapters">Chapters</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
            <mat-list-item routerLinkActive="active"><mat-icon mdListIcon>view_module</mat-icon><a mdLine routerLink="modules">Modules</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
            <mat-list-item routerLinkActive="active"><mat-icon mdListIcon>subtitles</mat-icon><a mdLine routerLink="offers">Offers</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
            <mat-list-item routerLinkActive="active"><mat-icon mdListIcon>work</mat-icon><a mdLine routerLink="clients">Clients</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
            <mat-list-item routerLinkActive="active"><mat-icon mdListIcon>group</mat-icon><a mdLine routerLink="sellers">Sellers</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
            <mat-list-item routerLinkActive="active"><mat-icon mdListIcon>text_fields</mat-icon><a mdLine routerLink="additionalData">Default text data</a></mat-list-item>
            <mat-divider mat-inset></mat-divider>
        </mat-nav-list>
        <router-outlet></router-outlet>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">Copyright &copy; 2017 Deepscreen. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout-nav-list>
</td-layout>