<mat-card>
    <mat-card-title>
        <div layout="row" layout-wrap>
            <div flex="5">
                <button mat-icon-button (click)="goBack()" color="accent">
                    <mat-icon >keyboard_backspace</mat-icon>
                </button>
            </div>
            <div flex="85" layout="column" layout-align="center start">{{title}}</div>
            <div flex="10" layout="column" layout-align="center end">
                <button mat-mini-fab (click)="onEdit()" *ngIf="!editMode">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-mini-fab (click)="onSave(f)" *ngIf="editMode" color="primary">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-title>
    <mat-card-subtitle>id: {{id}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form #f="ngForm">
            <div layout="row" layout-wrap>
                <div style="margin-top:20px;" flex="100" layout-padding>
                    <mat-input-container style="max-width: 800px; width: 100%;">
                        <input matInput placeholder="Title" [ngModel]="item?.title"
                               name="title" [readonly]="!editMode">
                    </mat-input-container>
                </div>
                <div style="margin-top:20px;" flex="100" layout-padding>
                    <mat-input-container style="max-width: 800px; width: 100%;">
                        <input matInput placeholder="Subtitle" [ngModel]="item?.subtitle" name="subtitle"
                               [readonly]="!editMode">
                    </mat-input-container>
                </div>
                <div style="margin-top:20px;" flex="100" layout-padding>
                    <ng-template [ngIf]="rteData">
                        <app-tiny-editor [elementId]="'rte'" [editMode]="editMode" [rteData]="rteData"
                                         (onEditorContentChange)="keyupHandler($event)"></app-tiny-editor>
                    </ng-template>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>