<div layout="row" layout-wrap layout-align="start center">
    <div flex="60">
        <h1 mat-dialog-title>Choose file</h1>
    </div>
    <div flex="40" layout="column" layout-align="center end">
        <div class="button-row"
             style="display: flex; align-items: center; justify-content: space-around; width: 230px;">
            <button mat-raised-button (click)="onSave(f)">
                <mat-icon mat-list-icon>done</mat-icon>
                <span> Save</span>
            </button>
            <button mat-raised-button [mat-dialog-close]="savedModuleData">
                <mat-icon mat-list-icon>close</mat-icon>
                <span *ngIf="itemSaved"> Close</span>
                <span *ngIf="!itemSaved"> Cancel</span>
            </button>
        </div>
    </div>
</div>

<mat-dialog-content>
    <form #f="ngForm">
        <div layout="row" layout-wrap>
            <div style="margin-top:20px;" flex="25" layout-padding>
                <mat-input-container>
                    <input matInput placeholder="Name" [ngModel]="item?.name" name="name" required>
                </mat-input-container>
            </div>

            <div style="margin-top:20px;" flex="25" layout-padding>
                <mat-input-container>
                    <input matInput  type="number" placeholder="Price" [ngModel]="item?.price" name="price" required>
                </mat-input-container>
            </div>

            <div style="margin-top:20px;" flex="25" layout-padding>
                <mat-select placeholder="Category" floatPlaceholder="auto" [(ngModel)]="selectedChapter" name="categoryId">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div style="margin-top:20px;" flex="25" layout-padding>
                <mat-input-container>
                    <input matInput placeholder="Created date" [ngModel]="item?.tstamp" name="tstamp" readonly>
                </mat-input-container>
            </div>
            <div style="margin-top:20px;" flex="100" layout-padding>
                <app-tiny-editor [elementId]="'rte'" [editMode]="true" [rteData]="rteData"
                                 (onEditorContentChange)="keyupHandler($event)"></app-tiny-editor>
            </div>
        </div>
    </form>
</mat-dialog-content>