<ng-template [ngIf]="item">

    <mat-card>
        <mat-card-title>
            <div layout="row" layout-wrap>
                <div flex="5">
                    <button mat-icon-button (click)="goBack()" color="accent">
                        <mat-icon >keyboard_backspace</mat-icon>
                    </button>
                </div>
                <div flex="85" layout="column" layout-align="center start">{{[item.companyName]}}</div>
                <div flex="10" layout="column" layout-align="center end">
                    <button mat-mini-fab (click)="onEdit()" *ngIf="!editMode">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="onSave(f)" *ngIf="editMode" color="primary">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-title>
        <mat-card-subtitle>id: {{item.uid}}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form #f="ngForm">
                <div layout="row" layout-wrap>
                    <div flex="100" layout-padding>
                        <h3 style="margin: 0;">Info data</h3>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Company name" [ngModel]="item.companyName" name="companyName"
                                   required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Address" [ngModel]="item.address" name="address" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Contact person" [ngModel]="item.contactPerson"
                                   name="contactPerson" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Contact phone" [ngModel]="item.contactPhone" name="contactPhone"
                                   required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Mobile phone" [ngModel]="item.mobile" name="mobile" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>
                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Web site" [ngModel]="item.webSite" name="webSite" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="E-mail" [ngModel]="item.mail" name="mail" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Pib" [ngModel]="item.pib" name="pib" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>

                    <div style="margin-top:20px;" flex="25" layout-padding>
                        <mat-input-container>
                            <input matInput placeholder="Created date" [ngModel]="item.tstamp" name="tstamp" required
                                   [readonly]="!editMode">
                        </mat-input-container>
                    </div>

                    <div flex="100" layout-padding>
                        <mat-divider></mat-divider>
                        <h3 style="margin-bottom: 0;">Offers</h3>
                    </div>
                    <div flex="100" layout-padding>
                        <mat-list>
                            <mat-list-item *ngFor="let offer of item.offers">
                                    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                                    <h4 mat-line><a (click)="selectOffer(offer.uid)" style="cursor: pointer">{{offer.offerNumber}}</a></h4>
                                    <p mat-line> {{offer.tstamp}} </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div flex="25" layout-padding>
                        <button mat-raised-button (click)="addOffer(item.uid)">Create new offer</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-template>