<div layout="row" layout-wrap layout-padding>
    <div flex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="margin-bottom: 0;">
                    <h1>Welcome to Offers Management App</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content flex="100" layout="row">
                <h3>
                   An application for easy creation and management of offers
                </h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div flex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="margin-bottom: 0;">
                    <h2 style="margin-bottom: 0;">Last offers</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content flex="100" layout="row">
                <mat-list>
                    <ng-container *ngFor="let offer of offersData; let i = index">
                        <mat-list-item>
                            <mat-icon mat-list-icon>subtitles</mat-icon>
                            <h3 mat-line (click)="selectOffer(offer._id)" style="cursor: pointer">{{offer.offerNumber}}</h3>
                            <h4 mat-line>{{offer.offerTitle}}</h4>
                            <p mat-line> {{offer.tstamp | date: 'dd.MM.y'}} </p>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div flex="100">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="margin-bottom: 0;">
                    <h2 style="margin-bottom: 0;">Last Clients</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content flex="100" layout="row">
                <mat-list>
                    <ng-container *ngFor="let client of clientsData; let i = index">
                        <mat-list-item>
                            <mat-icon mat-list-icon>work</mat-icon>
                            <h4 mat-line (click)="selectClient(client._id)" style="cursor: pointer">{{client.companyName}}</h4>
                            <p mat-line> {{client.tstamp | date: 'dd.MM.y'}} </p>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
