<md-card>
    <md-card-content>
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
         <span class="push-left-sm">
        <button md-icon-button [mdMenuTriggerFor]="menu">
                  <md-icon>more_vert</md-icon>
              </button>
                <md-menu #menu="mdMenu">
                  <button md-menu-item (click)="newSeller()" >
                    <md-icon>add</md-icon>
                    <span>Add new</span>
                  </button>
                </md-menu>
    <span class="md-title">{{title}}</span>
         </span>
        </div>
        <md-accordion>

            <md-list>
                <ng-template let-item let-last="last" ngFor [ngForOf]="data">
                    <md-expansion-panel>
                        <md-expansion-panel-header>
                            <md-list-item>
                                <md-icon mdListAvatar>person</md-icon>
                                <h3 md-line> {{item.name}} </h3>
                            </md-list-item>

                            <md-divider *ngIf="!last" md-inset></md-divider>
                        </md-expansion-panel-header>
                        <form #f="ngForm">
                            <div layout="row" layout-wrap>
                                <div flex="100" layout-padding>
                                    <div layout="row">
                                        <div flex="85">
                                            <h3 style="margin: 0;">Info data</h3>
                                        </div>
                                        <div flex="15" layout="row" layout-align="end center">
                                            <button md-mini-fab (click)="onEdit()" *ngIf="!editMode">
                                                <md-icon>mode_edit</md-icon>
                                            </button>
                                            <button md-mini-fab (click)="onSave(f)" *ngIf="editMode" color="primary">
                                                <md-icon>done</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:20px;" flex="25" layout-padding>
                                    <md-input-container>
                                        <input mdInput placeholder="E-mail" [ngModel]="item.email" name="email" required
                                               [readonly]="!editMode">
                                    </md-input-container>
                                </div>

                                <div style="margin-top:20px;" flex="25" layout-padding>
                                    <md-input-container>
                                        <input mdInput placeholder="Phone" [ngModel]="item.phone" name="phone" required
                                               [readonly]="!editMode">
                                    </md-input-container>
                                </div>

                                <div style="margin-top:20px;" flex="25" layout-padding>
                                    <md-input-container>
                                        <input mdInput placeholder="Mobile" [ngModel]="item.mobile" name="mobile"
                                               required
                                               [readonly]="!editMode">
                                    </md-input-container>
                                </div>
                            </div>
                        </form>
                    </md-expansion-panel>
                </ng-template>
            </md-list>
        </md-accordion>
    </md-card-content>
</md-card>
