/* You can add global styles to this file, and also import other style files */
.mat-expansion-panel-header .mat-content {
    align-items: center;
}

.mat-dialog-container {
    max-height: 95vh !important;
}

.td-route-animation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.handle {
    cursor: pointer;
}

.gu-transit .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused,
.gu-transit .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused,
.gu-transit .mat-expansion-panel-header:not([aria-disabled='true']),
tr.gu-transit{
    background: rgba(0, 0, 0, 0.04);
}

img {
    max-width: 100%;
    height: auto;
}


.mat-nav-list .mat-list-item .mat-list-text {
    height: 100% !important;
}
.mat-nav-list .mat-list-item .mat-list-text > * {
    height: 100%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);

}

